# Data Science Tools and Ecosystem

## Exercise 1: Create a Jupyter Notebook

## Exercise 2: Create markdown cell with title of the notebook
[2-title.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693139346720/f5a43ddc-2757-48e9-beb5-1115a50c0c5e/2-title.png)

## Exercise 3 - Create a markdown cell for an introduction  
The main task of this notebook is to summarize the data science tools and ecosystem  
[3-intro.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693139251882/f39eb1cf-f720-4056-bc7b-4ea07f7cb815/3-intro.png)

## Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**  
* Listing data science languages  
* Creating a markdown cell introducing arithmetic expression examples  
* Creating a code cell to convert minutes to hours  

[10-objectives.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693137739370/7e1e7f6f-72da-40f5-aab2-7d241b07b714/10-objectives.png)

## Exercise 4 - Create a markdown cell to list data science languages
Some of the popular languages that Data Scientists use are:  
1. Java  
2. Python  
3. C++  

[4-dslanguages.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693140612454/ab0b2663-e889-4817-ae94-bb98f153f89b/4-dslanguages.png)

## Exercise 5 - Create a markdown cell to list data science libraries  
Some of the commonly used libraries used by Data Scientists include:  
1. Pandas  
2. Numby  
3. Matplotlib  

[5-dslibraries.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693140638631/25c237d5-d5f1-4752-9d44-769406cd921c/5-dslibraries.png)

## Exercise 6 - Create a markdown cell with a table of Data Science tools  
|Data Science Tools|
-----------------------------
|Jupeter notebooks|
|R studio|
|GitHub|


[6-dstools.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693140652567/e0a66570-1771-4493-8e17-615bd3cad73e/6-dstools.png)

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples  
### Below are a few examples of evaluating arithmetic expressions in Python  
[7-introarithmetic.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693138068673/1daed400-b558-4465-80a2-1161eeb92601/7-introarritmetic.png)

## Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

[8-multiplyandaddintegers.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693137976297/8348c69e-ecdb-40cb-b498-6dfe8839aadf/8-multiplyandaddingintegers.png)

## Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(h)

3.3333333333333335

[9-hourstominutes.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693137830822/1dd75d64-252c-419f-bc04-4a17503ad1fa/9-hourstominutes.png)

## Exercise 11 - Create a markdown cell to indicate the Author's name  
## In√®s Ben Dkhil
[11-authordetails.png](https://coursera-assessments.s3.amazonaws.com/assessments/1693137656592/b1e14167-7228-4849-bf51-1c8e05e891f9/11-authordetails.png)