# Data Science Tools and Ecosystem

## Exercise 1: Create a Jupyter Notebook

## Exercise 2: Create markdown cell with title of the notebook
[2-title.png](https://www.facebook.com/photo/?fbid=2207488532775967&set=a.319627041562135)

## Exercise 3 - Create a markdown cell for an introduction  
The main task of this notebook is to summarize the data science tools and ecosystem  
[3-intro.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/00a14ede-e302-4837-a92d-32fc649c6546)

## Exercise 10 - Insert a markdown cell to list Objectives
**Objectives:**  
* Listing data science languages  
* Creating a markdown cell introducing arithmetic expression examples  
* Creating a code cell to convert minutes to hours  

[10-objectives.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/25903f99-fd5b-4c4b-a7df-6c4d899dec33)

## Exercise 4 - Create a markdown cell to list data science languages
Some of the popular languages that Data Scientists use are:  
     1. Java  
     2. Python  
     3. C++  
 [4-dslanguages.png](https://www.facebook.com/photo/?fbid=2207515956106558&set=a.319627041562135)

## Exercise 5 - Create a markdown cell to list data science libraries  
Some of the commonly used libraries used by Data Scientists include:  
    1. Pandas  
    2. Numby  
    3. Matplotlib  
[5-dslibraries.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/b7531fd5-3f5b-4a25-9fc4-6e965a7aaadd)

## Exercise 6 - Create a markdown cell with a table of Data Science tools  
|Data Science Tools|
-----------------------------
|Jupeter notebooks|
|R studio|
|GitHub|


[6-dstools.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/7478fe17-106d-431b-9a5f-7ded0b5a6da0)

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples  
### Below are a few examples of evaluating arithmetic expressions in Python  
[7-introarithmetic.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/e49f9da0-d48f-46ba-8187-6d3f6843aebb)

## Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

[8-multiplyandaddintegers.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/d6950cbf-a206-417c-aeef-80b14e63717c)

## Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by diving by 60
m=200
h=m/60
print(h)

3.3333333333333335

[9-hourstominutes.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/b45db079-fc84-4db8-8626-af22a14afef8)

## Exercise 11 - Create a markdown cell to indicate the Author's name  
## In√®s Ben Dkhil
[11-authordetails.png](blob:moz-extension://898fdbe7-31fb-4852-95be-3dc751c231fe/58b90346-0fb5-48c6-b914-a5f1274779e3)